<h1>Todo List</h1>
<div ng-repeat="item in items | filter: {task: searchText.search}">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-1"><input type="checkbox" name=""/></div>
      <div class="col-xs-6"><a ng-href="#/items/view/{{item.id}}">{{item.task}}</a></div>
              <div class="col-xs-2">{{item.dueDate}}</div>
              <div class="col-xs-1">{{item.assignedTo}}</div>
              <div class="col-xs-1"><a ng-href="#/items/edit/{{item.id}}">Edit</a></div>
              <div class="col-xs-1"><button class="btn btn-danger">DELETE</button></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
